<br>
<br>
<div class="container back jumbotron">
	<h1 class="text-center">
		Atletismo
	</h1>
</div>



<!--=== Container Part ===-->
<div class="container back jumbotron">
	<div class="content">
		<!-- Magazine Slider -->
		<div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
			<ol class="carousel-indicators">
				<li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
				<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
				<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner">
				<div class="item active">
					<img class="full-width img-responsive" src="lib/img/atletismo/atletismo_slide1.jpg" alt="">
				</div>
				<div class="item">
					<img class="full-width img-responsive" src="lib/img/atletismo/atletismo_slide2.jpg" alt="">
				</div>
				<div class="item">
					<img class="full-width img-responsive" src="lib/img/atletismo/atletismo_slide3.jpg" alt="">
				</div>
			</div>

			<a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
				<i class="fa fa-angle-left arrow-prev"></i>
			</a>
			<a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
				<i class="fa fa-angle-right arrow-next"></i>
			</a>
		</div>
		<!-- End Magazine Slider -->

		<div class="img-esportes row margin-bottom-60">
			<div class="col-sm-12">
				<div class="headline">
					<h2><strong>História</strong></h2>
				</div>
				<p>O atletismo é uma das mais antigas formas esportivas. Fez parte dos primeiros Jogos Olímpicos, criados pelos gregos,
					em 776 a.C. O atletismo consiste, basicamente, em um conjunto de práticas esportivas, podendo elas serem classificadas
					de forma geral em corridas, saltos e lançamentos. Cada uma das três possui certas subdivisões.</p>
				<img src="lib/img/atletismo/atletismo1.jpg" /> <br><br>
				<p>O atletismo pode ser praticado por homens, bem como pode também ser praticado por mulheres. Grande parte de suas modalidades
					são praticadas em quadras fechadas, com exceção, por exemplo, de maratonas, que costumam ser executadas em meios urbanos
					públicos. Os objetos utilizados variam de acordo com a modalidade em questão. A entidade responsável pela manutenção
					das regras e pelos eventos de âmbito internacional é a IAAF, Associação Internacional de Federações de Atletismo. No
					Brasil, esse papel é exercido pela CBAt, Confederação Brasileira de Atletismo.</p>
				<div class="headline">
					<h2><strong>Corrida</strong></h2>
				</div>
				<p>Essa modalidade pode ser subdidivida em:</p>
				<div class="headline">
					<h4>Corrida de pista</h4>
				</div>
				<p>É a forma mais tradicional. É praticada em pistas de formato oval. A pista é dividida em várias faixas, que limitam o
					espaço de cada um dos competidores. Sua extensão pode ser de 100, 200 ou até 400 metros.</p>
				<div class="headline">
					<h4>Corrida com obstáculos</h4>
				</div>
				<p>Como o próprio nome diz, é uma corrida que apresenta obstáculos a serem ultrapassados ao longo da pista. Normalmente
					é disputada em estádios e a extensão do percurso pode ser de 100, 110, 400 e até 3000 metros.</p>
				<div class="headline">
					<h4>Corrida de meio fundo</h4>
				</div>
				<p>Também conhecida como corrida de média distância. Nessa subdivisão, não é obrigatório que os competidores se mantenham
					o tempo todo em suas raias. A distância do percurso pode variar entre 800 e 1500 metros. Corrida de Fundo: Também conhecida
					como corrida de longa distância. Nesse tipo, o tamanho do percurso a ser feito pode variar de 5000 a 10000 metros.</p>
				<div class="headline">
					<h4>Corrida de revezamento</h4>
				</div>
				<p>São disputadas por equipes. Cada equipe possui quatro atletas, e cabe a cada um percorrer um quarto do percurso com um
					bastão e entregá-lo ao parceiro que se encontra ao final de seu trajeto.</p>
				<div class="headline">
					<h4>Maratona</h4>
				</div>
				<p>É uma espécie de corrida de longa distância. É realizada em meios públicos, geralmente estradas. Seu percurso têm, em
					média, 42 quilômetros.</p>
				<div class="headline">
					<h2><strong>Salto</strong></h2>
				</div>
				<div class="headline">
					<h4>Salto em altura</h4>
				</div>
				<p>Também conhecido como salto vertical. Nessa modalidade, o atleta deve correr por uma pista uma distância mínima de 20
					metros e, com o auxílio de uma vara, deve saltar por uma barra horizontal, denominada sarrafo. É permitido que o atleta
					toque a barra. A altura do sarrafo aumenta a cada salto realizado pelo atleta. O vencedor é aquele que conseguir dar
					o maior deles.</p>
				<div class="headline">
					<h4>Salto em distância</h4>
				</div>
				<p>Também conhecido como salto horizontal. Nesse tipo de salto, o atleta deve correr em uma pista por aproximadamente 40
					metros e, em seguida, realizar um salto. Esse salto, deve ser feito antes de uma marca estabelecida. O vencedor é aquele
					que conseguir alcançar a maior distância na areia.</p>
				<div class="headline">
					<h2><strong>Lançamento</strong></h2>
				</div>
				<p>Os lançamentos podem ser de martelo, de peso, de disco ou de dardo. As massas dos objetos em questão são variáveis, de
					acordo com o gênero do competidor. Em geral, os lançamentos são feitos no interior das pistas de corrida. Os vencedores,
					obviamente, são os competidores que mais se aproximarem do alvo determinado ou que conseguirem fazer os respectivos
					objetos alcançarem a maior distância.</p>
			</div>

		</div>

		<div class="headline">
			<h2>Modalidades de Atletismo</h2>
		</div>

		<div class="cube-portfolio">
			<div id="grid-container" class="cbp-l-grid-agency">
				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/atletismo/atletismo1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Corrida de pista</div>
					</div>
				</div>
				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/atletismo/atletismo_slide2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Lançamento</div>
					</div>
				</div>

				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/atletismo/atletismo_slide1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Corrida com obstáculos</div>
					</div>
				</div>

				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/atletismo/salto_vara.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Salto com vara</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>