
		<br><br>
		<div class="container back jumbotron">
			<h1 class="text-center">
				Futebol
			</h1>
		</div>



		<!--=== Container Part ===-->
		<div class="container back jumbotron">	
			<div class="content">
				<!-- Magazine Slider -->
				<div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
					<ol class="carousel-indicators">
						<li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
						<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
						<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img class="full-width img-responsive" src="lib/img/futebol/fut_slide1.jpg" alt="">
						</div>
						<div class="item">
							<img class="full-width img-responsive" src="lib/img/futebol/fut_slide2.jpg" alt="">
						</div>
						<div class="item">
							<img class="full-width img-responsive" src="lib/img/futebol/fut_slide3.jpg" alt="">
						</div>
					</div>

					<a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
						<i class="fa fa-angle-left arrow-prev"></i>
					</a>
					<a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
						<i class="fa fa-angle-right arrow-next"></i>
					</a>
				</div>
				<!-- End Magazine Slider -->

				<div class="img-esportes row margin-bottom-60 ">
					<div class="col-sm-12 title-esportes">
						<div class="headline"><h2>História</h2></div>
						<p>O futebol é o jogo coletivo mais praticado em todo o mundo. O mais antigo vestígio do esporte é proveniente da China, por volta de 3000 a.C. Na Grécia Antiga e na Roma, era uma prática exclusivamente masculina. Em Florença, na Idade Média, se usavam as mãos e os pés. Já na Gália e na Bretanha, os jogadores davam socos e rasteiras nos adversários. O esporte obteve um grande avanço na Inglaterra. Nesse país, o jogo ganhou regras claras e objetivas, além de ser organizado e sistematizado.</p>
						<p>Em 1904 foi dado o passo mais importante para o desenvolvimento do esporte: a criação da FIFA (Fédération Internationale de Football Association). A FIFA, entidade máxima do futebol, surgiu a partir da união das associações de futebol de vários países. Atualmente a FIFA possui sua sede na cidade de Zurique, Suíça. </p>
						<p>O futebol é praticado em um campo retangular de 90 a 120m de comprimento por 45 a 90m de largura. O campo é dividido em duas partes, cada time fica com uma. O objetivo básico do jogo é conduzir a bola até o gol adversário utilizando apenas os pés. Cada time é composto por 11 jogadores. Os goleiros são os únicos que podem pegar a bola com as mãos, dentro de uma área delimitada. Não são permitidas jogadas violentas, caso ocorram, o juiz poderá marcar faltas. Cada partida é dividida em dois tempos de 45 minutos, sendo também possível o acréscimo de alguns minutos extras. </p>
						<p>Provavelmente, o futebol se tornou tão popular devido ao fato de que, para realizar o esporte, são necessários poucos equipamentos e recursos. De fato, a popularização desse esporte é uma tendência mundial. </p>
						<div class="headline"><h2>Regras</h2></div>
						<div class="headline"><h4>Campo</h4></div>
						<p> O futebol é jogado num campo gramado com as medidas máximas de 120m de comprimento e 90m de largura e mínimas de 90m de comprimento e 45m de largura. Em os internacionais as medidas máximas são 110m de comprimento por 75m de largura e mínimas, 100m por 64m de largura. O campo é dividido ao meio por uma linha transversal, no centro da qual é desenhado um círculo com raio de 9,15m, de onde se dá a saída, no início de cada tempo de jogo ou sempre após a marcação de um gol.</p>
						<p>As balizas, eqüidistantes dos extremos das linhas de largura, são formadas por duas traves verticais, cujas faces internas estão separadas 7,32m uma da outra e unidas por um travessão horizontal a 2,44m do solo. As traves e o travessão, com no máximo 12cm de espessura, sustentam a rede do lado de fora do campo.</p>
						<img src="lib/img/futebol/futebol-regra1.png"/>
						<p>Em frente às balizas, há duas áreas. A pequena, ou do goleiro, dista 5,5m das traves (para os lados e para a frente) e serve para a cobrança do tiro de meta sempre que a bola ultrapassa a linha de fundo, depois de ter sido tocada por um jogador da equipe atacante. Na grande área, cujo limite é desenhado a 16,5m das traves, as infrações cometidas pelos jogadores do time defensor são punidas com o pênalti, cuja cobrança é executada por tiro livre direto, a 11m do gol. Fora da grande área é desenhado um arco de circunferência, chamado meia-lua, com 9,15m de raio e centro no ponto de cobrança de pênalti.</p>
						<p>As extremidades da linha central e os vértices das laterais são marcados com bandeiras. Desses vértices são cobrados os escanteios, sempre que a bola é lançada pela linha de fundo após o toque de um jogador da equipe defensora.</p>
						<div class="headline"><h4>Bola</h4></div>
						<p>Esférica e coberta de couro, ou outro material adequado, a bola deve ter de 68 a 71cm de circunferência e pesar de 396 a 453g. A pressão a ela aplicada é de um quilograma por centímetro quadrado, ao nível do mar. Proíbe-se aos jogadores usar as mãos para impulsionar a bola, a não ser o goleiro, dentro do limite da grande área, ou qualquer outro atleta na cobrança do arremesso lateral.</p>
						<div class="headline"><h4>Árbitro</h4></div>
						<p>A única autoridade reconhecida durante a partida é o árbitro, que recebe o auxílio de dois juízes de linha (bandeirinhas). A ele cabe a vistoria do gramado e das condições de segurança do estádio; a aplicação das regras e a solução de lances duvidosos; a cronometragem do jogo; a punição de jogadores; a interrupção e o reinício da partida quando julgar necessário; e a anotação das ocorrências. Os juízes de linha assinalam quando a bola sai de jogo e se deve ser cobrado escanteio, tiro de meta ou lateral.</p>
						<div class="headline"><h4>Impedimento</h4></div>
						<p>Será considerado impedido o jogador que ao receber um lançamento de um companheiro no campo de ataque, esteja mais próximo da linha de fundo que o penúltimo jogador adversário.</p>
						<div class="headline"><h4>Bola fora do jogo</h4></div>
						<p>Considera-se que a bola está fora de jogo quando ela atravessa inteiramente as linhas laterais ou de fundo, quando se marca um gol ou quando o juiz interrompe a partida por qualquer motivo. A reposição de bola pode ser feita por meio de tiro livre (após uma infração), arremesso lateral, tiro de meta, escanteio ou bola ao chão.</p>
						<div class="headline"><h4>Infrações</h4></div>
						<p>São punidas com tiro livre direto as faltas contra o adversário e o toque de mão ou braço na bola. O tiro livre indireto é cobrado após as obstruções, jogadas que o juiz considere perigosas ou no tranco ilícito sobre o goleiro. O jogador que reincide em faltas violentas, comete indisciplina ou desrespeito é expulso de campo. Na cobrança de faltas nenhum jogador adversário pode estar a menos de 9,15m da bola, que somente entrará em jogo depois de percorrer uma distância igual à sua circunferência.</p>
						<div class="headline"><h2>Fundamentos do futebol</h2></div>
						<p>Podemos dividir os fundamentos técnicos em dois tipos de ações:</p>
						<div class="headline"><h4>A) movimentos sem bola (corrida com mudança, saltos, giros, etc.);</h4></div>
						<div class="headline"><h4>B) movimentos com bola (recepção, passe, chute, etc.).</h4></div>
						<p>De acordo com essa divisão, pretendemos desenvolver aqui somente as técnicas básicas do futebol pertencentes ao grupo b (movimentos com bola), executando as ações específicas desenvolvidas pelos jogadores que ocupam a posição de goleiro.</p>
						<p>Para uma melhor prática do futebol, faz-se necessário o conhecimento e domínio de algumas técnicas básicas, tais como: condução, passe, chute, drible ou finta, recepção, cabeceio e arremesso lateral.</p>
						<p>O cabeceio e o arremesso lateral serão abordados como elementos pertencentes a outros fundamentos técnicos, ou seja, o arremesso lateral seria considerado uma forma de passe, e o cabeceio, dentro dos demais fundamentos. As técnicas serão abordadas na seguinte seqüência: definição e conceituação do termo, descrição da técnica e as possíveis variações e formas.</p>
						<div class="headline"><h4>Condução</h4></div>
						<p>É o ato de deslocar-se pelos espaços possíveis do jogo, tendo consigo o passe de bola.</p>
						<div class="headline"><h4>Técnica de condução da bola</h4></div>
						<p>a) posicionar o corpo e movimentá-lo de maneira a facilitar o tipo de condução desejada;</p>
						<p>b) manter a bola numa distancia que facilite a seqüência da condução, bem como as variações necessárias de acordo com exigência da situação;</p>
						<p>c) utilizar o tipo de toque adequado à situação;</p>
						<p>d) postura adequada à movimentação, com o centro de gravidade um pouco mais baixo, quando necessário um melhor domínio e mais alto, quando conduzir em alta velocidade;</p>
						<p>e) distribuir a atenção na bola, no espaço e nos demais jogadores.</p>
						<div class="headline"><h4>Passe</h4></div>
						<p>É um elemento técnico inerente ao fundamento chute, que se caracteriza pelo ato de impulsionar a bola para um companheiro.</p>
						<div class="headline"><h4>Técnica do passe</h4></div>
						<p>a) posicionamento do corpo de maneira favorável a sua execução;</p>
						<p>c) projeção da perna (membro inferior direito ou esquerdo) a ser utilizada em direção à bola;</p>
						<p>d) toque propriamente dito (durante a execução do movimento, o braço ajuda no coordenação e equilíbrio).</p>
						<div class="headline"><h4>Chute</h4></div>
						<p>É o ato de golpear a bola, desviando ou dando trajetória à mesma, estando ela parada ou em movimento.</p>
						<div class="headline"><h4>Técnica de Chute</h4></div>
						<p>É semelhante à técnica do passe, sendo o objetivo das ações sua grande diferença. O chute tem como objetivo finalizar uma ação para o gol ou impedir o prosseguimento das ações do adversário.</p>
						<div class="headline"><h4>Técnica do drible ou finita</h4></div>
						<p>a) posicionar o corpo de maneira favorável ao drible (ou finta) desejado;</p>
						<p>b) manter a bola próxima ao corpo e o centro de gravidade baixo, permitindo assim um  melhor domínio sobre a mesma;</p>
						<p>c) utilizar o tipo de toque e movimentação adequados ao drible desejado, de acordo com a situação;</p>
						<p>d) na execução do drible, a atenção é dirigida para a movimentação do adversário para o espaço e para a bola.</p>
						<div class="headline"><h4>Recepção</h4></div>					
						<p>Se o aluno não consegue Ter a posse da bola quando tenta interromper a trajetória da mesma, dizemos que houve uma má recepção. Este mesmo fundamento aparece na literatura como os seguintes sinônimos: abafamento, amortecimento, travar ou dominar a bola.</p>
						<p>Lembre-se que, cotidianamente, o domínio de bola é entendido como recepção. Entretanto, consideramos que o domínio ou controle da bola expressam um nível de referencia quanto ao “desenvolvimento” das capacidades coordenativas de condução e adaptação do movimento, sendo que o domínio pode manifestar-se com mais evidencia na técnicas de condução, recepção e drible.</p>
						<div class="headline"><h4>Técnicas de recepção</h4></div>
						<p>a) posicionamento do corpo de maneira favorável a recepção, com a parte do corpo a realizar o contato voltada par a bola;</p>			
						<p>b) ao aproximar-se da bola, amortecê-la, tentando inicialmente, diminuir a sua velocidade;</p>
						<p>c) manter a bola próxima ao corpo, favorecendo assim, o seu domínio.</p>
						<div class="headline"><h4>Cabeceio</h4></div>
						<p>É o ato de impulsionar a bola utilizando a cabeça.</p>
						<p>Esse gesto técnico é bastante utilizado durante o jogo e pode ser aplicado, tanto para ações ofensivas como defensivas. O cabeceio apresenta-se como uma das alternativas para a realização de outros fundamentos, tais como: passe, chute, recepção, etc.</p>		
						<p>O cabeceio poderá ser executado parado ou em movimento, estando ou não em suspensão. Aconselha-se principalmente, o uso da testa como a região da cabeça que irá realizar o contato com a bola. Existem duas posições básicas do tronco em relação à bola, no momento da execução do gesto técnico: frontal ou lateral.</p>	
						<div class="headline"><h2>Futebol no Brasil</h2></div>
						<p>Embora existam referências à prática ocasional do futebol no Brasil, de 1870 a 1880, na verdade o esporte chegou ao país apenas em 1894, trazido pelo brasileiro Charles Miller, filho de inglês, que desembarcou em São Paulo com duas bolas de couro e as regras aprovadas pela Football Association. A primeira partida foi por ele promovida em abril de 1895, entre empregados ingleses das companhias de gás e de transporte ferroviário. A partir dessa iniciativa, vários clubes se formaram: em 1898, o São Paulo Athletic Club e, no ano seguinte, a Associação Atlética Mackenzie College e o Sport Club Germânia.</p>
						<p>No Rio de Janeiro, o pioneiro foi Oscar Cox, que estudou na Europa e trouxe de lá material esportivo. Depois de organizar partidas entre uma equipe criada por ele e o Rio Cricket and Athletic Association, de Niterói, Cox tornou-se um dos líderes do movimento que resultou na fundação do Fluminense Futebol Clube, em 1902. De uma dissidência neste clube, nasceu, em 1911, o departamento de futebol do Clube de Regatas do Flamengo. Embora reunisse os melhores jogadores da época, que haviam sido campeões no ano anterior, o Flamengo perdeu seu primeiro jogo para os que ficaram no Fluminense, por 3 a 2, o que gerou a célebre rivalidade do Fla x Flu.</p>
						<p>Na década de 1910, surgiram clubes e federações por todo o Brasil, cada estado começou a realizar seu próprio campeonato e cresceu o interesse do público e da imprensa pelo esporte. Em 1914, criou-se a Federação Brasileira de Sports e, dois anos depois, a Confederação Brasileira de Desportos (CBD). Em 1919, o Brasil sagrou-se campeão sul-americano de futebol ao vencer o Uruguai por 1 a 0, no Rio de Janeiro. Com a difusão do esporte por todo o país foi realizado, em 1922, o primeiro campeonato de seleções estaduais.</p>
						<p>Durante quase quarenta anos o futebol foi exercido no Brasil por amadores — estudantes, empregados de companhias e jovens de nível social elevado. Em 1933, oficializou-se, no Rio de Janeiro e em São Paulo, o profissionalismo, até então praticado de forma disfarçada. Após um período de transição, em que os jogadores hesitaram em aceitar o novo regime, teve início a fase de afirmação do futebol brasileiro, em 1938, ano da primeira Copa em que o Brasil chegou às semifinais e ficou em terceiro lugar.</p>
						<p>As arrecadações das partidas aumentaram e estimularam a construção de estádios, o maior dos quais foi o Maracanã, inaugurado no Rio de Janeiro em 1950, para a IV Copa do Mundo. Em 1959, nasceu a Taça Brasil, um campeonato interclubes de âmbito nacional, disputada em eliminatórias pelos campeões estaduais. Em 1971, o torneio foi oficializado como Campeonato Brasileiro de Clubes, cujos vencedores disputam com clubes de outros países sul-americanos a Taça Libertadores da América.</p>
					</div>
					
				</div>

				<div class="headline"><h2>Modalidades de Futebol</h2></div>

				<div class="cube-portfolio">
					<div id="grid-container" class="cbp-l-grid-agency">
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="lib/img/futebol/fut_socaite.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">Futebol Soçaite</div>
							</div>
						</div>
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="lib/img/futebol/fut_salao.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">Futebol de Salão</div>
							</div>
						</div>
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="lib/img/futebol/fut_areia.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">Futebol de Areia</div>
							</div>
						</div>
						<div class="cbp-item">
							<div class="cbp-caption margin-bottom-20">
								<div class="cbp-caption-defaultWrap">
									<img src="lib/img/futebol/fut_pantano.jpg" alt="">
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<ul class="link-captions no-bottom-space">
												<li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-title-dark">
								<div class="cbp-l-grid-agency-title">Futebol de Pântano</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</body>
</html>
