<br>


<br>
<div class="container back jumbotron">
	<h1 class="text-center">
		Skate
	</h1>
</div>



<!--=== Container Part ===-->
<div class="container back jumbotron">
	<div class="content">
		<!-- Magazine Slider -->
		<div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
			<ol class="carousel-indicators">
				<li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
				<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
				<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner">
				<div class="item active">
					<img class="full-width img-responsive" src="lib/img/skate/skate_slide1.jpg" alt="">
				</div>
				<div class="item">
					<img class="full-width img-responsive" src="lib/img/skate/skate_slide2.jpg" alt="">
				</div>
				<div class="item">
					<img class="full-width img-responsive" src="lib/img/skate/skate_slide3.jpg" alt="">
				</div>
			</div>

			<a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
				<i class="fa fa-angle-left arrow-prev"></i>
			</a>
			<a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
				<i class="fa fa-angle-right arrow-next"></i>
			</a>
		</div>
		<!-- End Magazine Slider -->

		<div class="img-esportes row margin-bottom-60">
			<div class="col-sm-12">
				<div class="headline">
					<h2><strong>História</strong></h2>
				</div>
				<p>Skate é um esporte radical muito praticado atualmente. Consiste em, realizar manobras deslizando sobre o solo (com ou
					sem obstáculos) equilibrando-se sobre o skate. O skate é uma prancha (shape) que possui dois eixos (trucks), rolamentos
					e quatro pequenas rodas.</p>
				<p>Mais do que um esporte, o skate tornou-se um estilo de vida. Os skatistas usam roupas características, tem suas próprias
					gírias e costumes.</p>
				<p>O skate surgiu na Califórnia, Estados Unidos, nos anos 60. Foi inventado por alguns surfistas, como uma brincadeira para
					um dia no qual não havia ondas no mar. Eles utilizaram rodinhas de patins.</p>
				<p>Já em 1965 foram fabricados os primeiros skates e realizados os primeiros campeonatos.</p>
				<p>Mas o esporte só ganhou o mundo nos anos 90, quando o norte-americano Tony Hawk realizou uma revolução com seus aéreos
					e flips. Tony Hawk é considerado, até hoje, o maior skatista de todos os tempos.</p>
				<img src="lib/img/skate/skate1.jpg" /> <br><br>
				<p>O skate é praticado pelas ruas do mundo todo, ou em ligares específicos, como os skate parks.</p>
				<p>É essencial a utilização de equipamentos de segurança como o capacete, joelheira e cotoveleira para o mínimo de proteção
					em caso de quedas.</p>
				<p>Existem as seguintes modalidades para a prática do skate:</p>
				<p>Freestyle – manobras feitas em sequência, no chão.</p>
				<p>Freestyle – manobras feitas em sequência, no chão.</p>
				<p>Downhill Slide – descida de ladeiras em alta velocidade, realizando manobras de derrapagem.</p>
				<p>Vertical - é praticada em pista, e pode ser subdividida em outras modalidades, variando sempre as condições da pista.
					As manobras podem ser aéreas ou deslizando pela borda metálica da pista.</p>
				<p>Street Style (skate de rua) – na modalidade mais praticada em todo o mundo, os bancos, corrimões, escadas das ruas das
					cidades são utilizadas como obstáculos para o skate.</p>
				<p>Mini-rampas – práticado em rampa que mistura os estilo Street e Vertical (paredes pouco inclinadas).</p>
				<p>Nas competições, só existem duas categorias: a Street (circuito com obstáculos) e a Half Pipe (rampa em formato de “U”).
					As manobras são avaliadas por juizes que atribuem notas considerando a dificuldade e a desenvoltura das manobras realizadas.</p>
				<p>Geralmente as competições duram dois dias, sendo que no primeiro dia acontece à fase classificatória e no segundo, os
					melhores skatistas tem duas chances de realizar suas manobras. Aquele que somar mais pontos na mesma volta vence.</p>
				<p>A partir dos anos 90, os brasileiros tem tido destaque internacional nas competições. O primeiro grande destaque foi
					Bob Burnquist</p>
				<p>Atualmente, o skatista brasileiro de maior destaque é Sandro "Mineirinho" Dias, tetracampeão mundial de skate vertical
					(2003, 2004, 2005 e 2006).</p>
			</div>

		</div>

		<div class="headline">
			<h2>Manobras mais praticadas</h2>
		</div>

		<div class="cube-portfolio">
			<div id="grid-container" class="cbp-l-grid-agency">
				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/skate/manobra1.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Manobra 1</div>
					</div>
				</div>
				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/skate/manobra2.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Manobra 2</div>
					</div>
				</div>

				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/skate/manobra3.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Manobra 3</div>
					</div>
				</div>

				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/skate/manobra4.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Manobra 4</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>