<br>

<br>
<div class="container back jumbotron">
	<h1 class="text-center">
		Vôlei
	</h1>
</div>



<!--=== Container Part ===-->
<div class="container back jumbotron">
	<div class="content">
		<!-- Magazine Slider -->
		<div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
			<ol class="carousel-indicators">
				<li class="active rounded-x" data-target="#portfolio-carousel" data-slide-to="0"></li>
				<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="1"></li>
				<li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner">
				<div class="item active">
					<img class="full-width img-responsive" src="lib/img/volei/volei_slide1.jpg" alt="">
				</div>
				<div class="item">
					<img class="full-width img-responsive" src="lib/img/volei/volei_slide2.jpg" alt="">
				</div>
				<div class="item">
					<img class="full-width img-responsive" src="lib/img/volei/volei_slide3.jpg" alt="">
				</div>
			</div>

			<a class="left carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="prev">
				<i class="fa fa-angle-left arrow-prev"></i>
			</a>
			<a class="right carousel-control rounded-x" href="#portfolio-carousel" role="button" data-slide="next">
				<i class="fa fa-angle-right arrow-next"></i>
			</a>
		</div>
		<!-- End Magazine Slider -->

		<div class="row margin-bottom-60 text-justify">
			<div class="col-sm-12">
				<div class="headline">
					<h2>História</h2>
				</div>
				<p>Foi um longo caminho, que teve início em 1895, em Massachussets, Estados Unidos. Foi lá que o professor de Educação Física
					do YMCA, William C. Morgan, com apenas 25 anos, resolveu misturar dois esportes conhecidos, elevando uma rede de tênis
					a 1.83cm de altura e usando como bola a câmara de uma bola de basquete. Sua invenção, antes de se chamar volley-ball,
					levou o nome de mintonette, e podia ser jogada por quantos participantes desejassem, de cada lado da rede. O sucesso
					do voleibol nos Estados Unidos, no entanto, não foi imediato, como gostaria seu criador. Na verdade, o esporte teve
					uma reação mais calorosa na Europa e principalmente na Ásia, levado pelos soldados americanos durante a I Guerra Mundial.
					Já em 1912 acontecia a primeira competição internacional de voleibol, entre atletas da China, Japão e Filipinas. Uma
					das características mais apreciadas do esporte era a ausência de contato físico, evitando as agressões entre os jogadores
					e reduzindo a violência.</p>
				<p>Em 1922 foi disputado o primeiro campeonato de voleibol dos Estados Unidos. Vinte e cinco anos depois, era fundada em
					Paris a Federação Internacional de Voleibol – FIVB. Nascido nos Estados Unidos, foi na Europa que o voleibol mais se
					desenvolveu, adquirindo, após a II Guerra, status e características de esporte de competição. Ao ser criada, a FIVB
					era composta por 14 países. Hoje são 200 federações nacionais filiadas, reunindo mais de 160 milhões de jogadores em
					atividade. Foi também na Europa o local do primeiro campeonato mundial de voleibol: na cidade de Praga, em 1949. Quinze
					anos mais tarde, o voleibol tornava-se olímpico. Nos jogos de Tóquio, no Japão, em 1964, a medalha de ouro da equipe
					masculina foi para a Rússia, e as atletas japonesas subiam, pela primeira vez na história, ao lugar mais alto do pódio.</p>
				<p>Hoje o voleibol tem um extenso calendário de eventos internacionais, sendo um dos esportes mais praticados e assistidos
					em todo o mundo. A Liga Mundial de 94, por exemplo, levou quase meio milhão de espectadores aos ginásios de 12 países,
					sendo transmitida ao vivo para todo o mundo. Ao todo, 650 horas de transmissão, mostrando as melhores seleções em uma
					acirrada disputa pela vitória.</p>
				<div class="headline">
					<h2>Voleibol no Brasil</h2>
				</div>
				<p>Enquanto alguns afirmam que o esporte começou a ser praticado em 1915, num colégio de Pernambuco, outros defendem a tese
					de que tudo começou em 1917 e creditam o pioneirismo à Associação Cristã de Moços de São Paulo.</p>
				<p>A Confederação Brasileira de Volley-Ball foi criada em 1954, com o objetivo de difundir e desenvolver o esporte por meio
					de cursos e “escolinhas”. Dez anos depois, o voleibol brasileiro marcou presença na Olímpiada de Tóquio, quando o esporte
					fez sua estréia nos Jogos. Assim como no futebol- o Brasil é o único país que disputou todas as Copas do Mundo, os sextetos
					nacionais masculino e feminino participaram de todas as edições dos Jogos Olímpicos. No entanto, faltavam resultados
					expressivos.</p>
				<p>A grande virada do voleibol brasileiro tem como marco inicial a ano de 1975, quando Carlos Arthur Nuzman assumiu a presidência
					da CBV. Sob a bandeira da organização, Nuzman lutou para que o Brasil sediasse os mundiais masculino e feminino da categoria
					juvenil em 1977. Apostando na idéia de que marketing e esporte podem caminhar lado a lado, o dirigente atraiu a atenção
					das empresas para o voleibol, o que na Olimpíada de Los Angeles. possibilitou a criação de uma infra-estrutura, permitindo
					a profissionalização dos atletas, no início da década de 80, e servindo de exemplo para os outros esportes coletivos
					do país.</p>
				<p>O primeiro grande resultado foi o vice-campeonato no Mundial de 1982, na Argentina. Dois anos depois, a equipe da Pirelli
					sagrou-se campeã mundial de clubes e a seleção brasileira conquistou a medalha de prata Isso sem falar na medalha de
					ouro na Olimpíada de Barcelona, em 1992 , e no título da Liga Mundial, no ano seguinte. E, mais recentemente, na medalha
					de bronze das meninas em Atlanta, em 96, e no histórico desempenho do vôlei de praia, nos mesmos Jogos – ouro e prata
					no feminino -, quando o esporte fazia sua estréia olímpica. Nas categorias inferiores, mais títulos, como o tricampeonato
					mundial masculino infanto-juvenil (1990/91/93) e o juvenil em 1993. As meninas são bicampeãs mundiais juvenis (1987/89).</p>
				<p>Atualmente o Brasil tem o campeonato nacional mais forte do mundo- a Superliga -, que conta com a participação de estrelas
					como Marcelo Negrão, Tande, Fernanda Venturini e Ana Moser. O volei é o esporte mais jogado no país depois do futebol,
					sendo que, em cidades como Belo Horizonte e Brasília, o velho esporte bretão fica com o vice-campeonato.</p>
				<div class="headline">
					<h2>Principais fundamentos do voleibol</h2>
				</div>
				<div class="headline">
					<h3>Toque</h3>
				</div>
				<div class="headline">
					<h4>Posição das mãos</h4>
				</div>
				<p>Coloque as mãos sobre a cabeça e coloque seus dedos indicadores e os polegares juntos. Agora você deve estar olhando
					por uma “janela” que esses dedos fazem. Posicione suas mão para que se a bola for pequena suficiente para passar pela
					sua “janela” bem no centro dela, a bola deveria lhe atingir bem nos olhos. Agora coloque seus dedos juntos (deixando
					retos e tocando apenas tocando com as pontas dos dedos). Assim que você tirar seus dedos você vai sentir como se a bola
					encaixasse perfeitamente quando ela vai tomando uma certa distância. Essa distância será a posição em que você começará
					antes de tocar na bola.</p>
				<div class="headline">
					<h4>Ação das mãos</h4>
				</div>
				<p>A bola só deve entrar em contato com seus dedos, e nunca com a palma da mão. Os pontos de contato com seus dedos quando
					colocado a bola deve ser similar aos pontos de contato que você teve as mãos juntas antes. A bola deve contactar seus
					polegares e os primeiros dois dedos com uma mesma quantidade de força, enquanto os seus dois últimos dedos das duas
					mãos deve contactar a bola às vezes (para ter mais controle), mas com menos força. Portanto, não puxe seus dois últimos
					dedos de volta do caminho, mantenha-os lá para os toques que irão precisar de um maior controle na jogada. A verdadeira
					jogada toma lugar nos seus pulsos. O mais flexível que seus pulsos sejam e o mais forte e rápido que os músculos do
					seu antebraço sejam ,será o melhor levantamento que sairá. Seus cotovelos devem estar levemente curvados na hora em
					que entrar em contato com a bola (mais ou menos no ângulo que se curva para escrever) e suas mão devem estar na posição
					de espera ao que a bola contacta seus dedos. Você deve estar apto a deitar para trás e segurar a bola nas suas mãos
					(que já estão em posição de espera) e mover apenas o seu pulso para jogar a bola alguns centímetros no ar, e é lógico
					você terá que ajustar o ângulo do seus braços para que a bola não estoure atrás de você, mas irá direto pro ar e voltará
					em suas mãos.</p>
				<p>Jogue a bola com seus pulsos somente, pegando a bola de volta nas suas mãos e pausando para ter certeza que a bola saia
					levemente e suas mãos estejem na posição correta na hora do contato. Para que a bola saia suavemente você deve marcar
					o contato de modo que ele retraia seus pulsos na mesma velocidade em que a bola está vindo. Assim como o movimento de
					um trampolim. Faça esses exercícios dando uma pausa quando a bola toca suas mãos, mas usando somente o pulso, só parta
					para o trabalho com os braços depois que já estiver fazendo os exercícios sem que a bola faça nenhum barulho quando
					toca em suas mãos.</p>
				<div class="headline">
					<h4>Ação dos braços</h4>
				</div>
				<p>Enquanto estiver agachado pra fazer o exercício (não se preocupe ,eventualmente vamos levantar), comece os movimentos
					descritos cima, jogue a bola apenas com seus pulsos e impulsione a bola de volta ao ar suavemente. A ação dos braços
					começa quando os pulsos se movem para jogar a bola de volta ao ar (não antes desse movimento) Não cometa o erro de almofadar
					a bola com pulsos e braços, isso irá constituir um “arremesso” no mundo do voleibol. Assim que puxar seus pulsos para
					soltar a bola extenda os braços simultaneamente. Quando você faz isso, a bola irá muito mais alto, exigindo que você
					se torne ainda melhor em impulsionar a bola enquanto ela toca em suas mãos ( que, lógicamente, estão na posição de espera).Assim
					que a sua sincronização vá ficando melhor, a sua ação de mãos, pulsos e braços se tornará macia e mais controlada.</p>
				<div class="headline">
					<h4>Posição dos pés</h4>
				</div>
				<p> Sempre tente posicionar o seu pé direito na frente do esquerdo, sempre vendo pela parte esquerda da quadra, e, se possível
					na hora do levantamento tenha seu ombro alinhado com o seu alvo. Às vezes você vai ficar correndo pela quadro esperando
					por bolas, mas se você vai tentar levantar, suas lavantadas serão mais consistentes e seu time terá mais sucesso.</a>
					<p>Note que o pé direito está na frente do esquerdo, as mãos estão para cima e preparadas anteriormente, a bola está sendo
						posicionada bem na frente da testa, e se você pudesse ver esta ação, meu ombro se vira diretamente para ficar de frente
						para a rede, direto para o meu alvo.</p>
					<div class="headline">
						<h3>Manchete</h3>
					</div>
					<p>Primeiro de tudo, comece com seus braços normais ( enquanto espera o serviço ou ataque) com suas mãos na sua frente
						apontando para frente (com um ângulo de 45 graus para o chão).Não tente se mover com as mãos grudadas. É importante
						prestar atenção nos aspectos do movimento quando queremos melhorar o exercício. Se os seus pés estão lado a lado, seu
						melhor movimento será lado a lado, e se a bola lhe atingir por um dos lados, então você irá pegar muito bem. (desastre
						se o serviço viesse pela frente!)</p>
					<p>Se os seus pés estiverem em frente e para trás do outro, então seu mais eficiente movimento seria para frente e para
						trás, e se a bola atingisse bem em cima de você então você estaria em uma ótima posição para absorver toda a energia
						da bola e controlar a bola totalmente. Tem que ser uma combinação dos dois; seus pés tem que estar numa largura comfortável
						separados para que tanto para frente, para trás ou lado para lado o movimento possa ser maximizado. Matenha o quadril
						abaixado e os joelhos dobrados.</p>
					<div class="headline">
						<h3>Saque</h3>
					</div>
					<p>Serviço ou saque é um fundamento que é unicamente usado no voleibol. É o único momento do jogo que você tem o total
						controle da partida. O jogador segura a bola e tem que mandá-la para o outro lado da quadra, passando a rede. É uma
						hora de grande responsabilidade para o jogador que está sacando.</p>
					<p>Saque exige poucos movimentos, quanto menos movimentos na ação do serviço, menos chances de errar o saque.</p>
					<div class="headline">
						<h4>Flutuante</h4>
					</div>
					<p>Se o jogador for destro , deve segurar a bola com a mão esquerda bem na sua frente. O pé esquerdo deve estar na frente
						do direito com o peso do corpo equilibrado sobre o pé direito. Perceba pela foto abaixo que o braço do jogador está
						esticado para trás antes de bater na bola e seu peso está sobre o pé direito.</p>
					<p>Agora você está preparado para dar a batida e fazer o serviço da bola, você tem que bater a bola na sua frente, na frente
						do seu ombro batedor e deslocar todo seu peso para o pé da frente.</p>
					<p>Conecte a bola na palma da mão e siga pelo seu lado. Não estoure a bola batendo sua mão de volta quando encontrar com
						a bola e não siga exatamente como se você fosse dar um saque com salto ou batendo.O movimento criado para deslocar
						seu peso de trás para o pé da frente em combinação com o gingado dos braços cria força suficiente para levar a bola
						para mais de 6 quadras de voleibol. Esse tipo de serviço pode ser feito por qualquer jogador em qualquer nível Há vários
						outros tipos de serviço tipo saque com pulo, flutuante com pulo…</p>
					<div class="headline">
						<h3>Cortadas</h3>
					</div>
					<p>Corte é básico, após receber a bola do levantador, o atacante vai com tudo na bola tentando bater com certa força e
						ângula para que esta passe a rede e toque o chão da quadra do adversário.</p>
					<div class="headline">
						<h3>Cortada básica</h3>
					</div>
					<p>Um atacante da parte esquerda deve sempre se aproximar da rede com seus ombros alinhados com o canto mais distante da
						parte oponente da quadra. Isso deixa o ângulo mais difícil uma possível opção para seu ombro. Se a tendência é de fazer
						um corte com menos força escreva a ação com suas mãos, você deve dar uma olhada na sua aproximação e ter certeza que
						está marcando o ângulo correto. Se o bloqueador do meio é grande, atinja-o alto dentro de sua mão, ou então alto e
						dentro do bloqueio dele.</p>
					<div class="headline">
						<h3>Bloqueio</h3>
					</div>
					<p>Bloqueio é com certeza o mais rápido e mais difícil jeito de se fazer um ponto no voleibol. É difícil porque muitas
						vezes você o executa perfeitamente e mesmo assim não funciona.</p>
					<p>Consiste em pular para inutilizar uma cortada forte do outro time. O defensor deve ser alto e ter força nas mão para
						conseguir segurar a bola, fazendo com que ela volte a quadra oponente.</p>



			</div>
			<div class="img-esportes col-sm-12">

			</div>
		</div>

		<div class="headline">
			<h2>Modalidades de Tênis</h2>
		</div>

		<div class="cube-portfolio">
			<div id="grid-container" class="cbp-l-grid-agency">
				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/volei/volei_quadra.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Vôlei de quadra</div>
					</div>
				</div>

				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/volei/volei_praia.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Vôlei de Praia</div>
					</div>
				</div>

				<div class="cbp-item">
					<div class="cbp-caption margin-bottom-20">
						<div class="cbp-caption-defaultWrap">
							<img src="lib/img/volei/volei_rua.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap">
							<div class="cbp-l-caption-alignCenter">
								<div class="cbp-l-caption-body">
									<ul class="link-captions no-bottom-space">
										<li><a href="#"><i class="rounded-x fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cbp-title-dark">
						<div class="cbp-l-grid-agency-title">Vôlei de Rua</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>